<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<dict>
		<key>fullName</key>
		<string>Shane Warne 0</string>
		<key>team</key>
		<string>Australia</string>
		<key>playerPictureResName</key>
		<string>rikcy-pointing.jpg</string>
		<key>numberOfTests</key>
		<integer>145</integer>
		<key>totalTestRuns</key>
		<integer>1000</integer>
		<key>totalTestWickets</key>
		<integer>708</integer>
		<key>numberOfODIs</key>
		<integer>194</integer>
		<key>totalODIRuns</key>
		<integer>1018</integer>
		<key>totalODIWickets</key>
		<integer>293</integer>
		<key>numberOfT20s</key>
		<integer>17</integer>
		<key>totalT20Runs</key>
		<integer>401</integer>
		<key>totalT20Wickets</key>
		<integer>0</integer>
		<key>tip1</key>
		<string></string>
	</dict>
	<key>11</key>
	<dict>
		<key>fullName</key>
		<string>Shane Warne 11</string>
		<key>team</key>
		<string>Australia</string>
		<key>playerPictureResName</key>
		<string>rikcy-pointing.jpg</string>
		<key>numberOfTests</key>
		<integer>145</integer>
		<key>totalTestRuns</key>
		<integer>3154</integer>
		<key>totalTestWickets</key>
		<integer>708</integer>
		<key>numberOfODIs</key>
		<integer>194</integer>
		<key>totalODIRuns</key>
		<integer>1018</integer>
		<key>totalODIWickets</key>
		<integer>293</integer>
		<key>numberOfT20s</key>
		<integer>17</integer>
		<key>totalT20Runs</key>
		<integer>401</integer>
		<key>totalT20Wickets</key>
		<integer>0</integer>
		<key>tip1</key>
		<string></string>
	</dict>
	<key>4</key>
	<dict>
		<key>fullName</key>
		<string>Shane Warne 4</string>
		<key>team</key>
		<string>Australia</string>
		<key>playerPictureResName</key>
		<string>rikcy-pointing.jpg</string>
		<key>numberOfTests</key>
		<integer>145</integer>
		<key>totalTestRuns</key>
		<integer>2000</integer>
		<key>totalTestWickets</key>
		<integer>708</integer>
		<key>numberOfODIs</key>
		<integer>194</integer>
		<key>totalODIRuns</key>
		<integer>1018</integer>
		<key>totalODIWickets</key>
		<integer>293</integer>
		<key>numberOfT20s</key>
		<integer>17</integer>
		<key>totalT20Runs</key>
		<integer>401</integer>
		<key>totalT20Wickets</key>
		<integer>0</integer>
		<key>tip1</key>
		<string></string>
	</dict>
	<key>5</key>
	<dict>
		<key>fullName</key>
		<string>Shane Warne 5</string>
		<key>team</key>
		<string>Australia</string>
		<key>playerPictureResName</key>
		<string>rikcy-pointing.jpg</string>
		<key>numberOfTests</key>
		<integer>145</integer>
		<key>totalTestRuns</key>
		<integer>3000</integer>
		<key>totalTestWickets</key>
		<integer>708</integer>
		<key>numberOfODIs</key>
		<integer>194</integer>
		<key>totalODIRuns</key>
		<integer>1018</integer>
		<key>totalODIWickets</key>
		<integer>293</integer>
		<key>numberOfT20s</key>
		<integer>17</integer>
		<key>totalT20Runs</key>
		<integer>401</integer>
		<key>totalT20Wickets</key>
		<integer>0</integer>
		<key>tip1</key>
		<string></string>
	</dict>
	<key>6</key>
	<dict>
		<key>fullName</key>
		<string>Shane Warne 6</string>
		<key>team</key>
		<string>Australia</string>
		<key>playerPictureResName</key>
		<string>rikcy-pointing.jpg</string>
		<key>numberOfTests</key>
		<integer>145</integer>
		<key>totalTestRuns</key>
		<integer>4000</integer>
		<key>totalTestWickets</key>
		<integer>708</integer>
		<key>numberOfODIs</key>
		<integer>194</integer>
		<key>totalODIRuns</key>
		<integer>1018</integer>
		<key>totalODIWickets</key>
		<integer>293</integer>
		<key>numberOfT20s</key>
		<integer>17</integer>
		<key>totalT20Runs</key>
		<integer>401</integer>
		<key>totalT20Wickets</key>
		<integer>0</integer>
		<key>tip1</key>
		<string></string>
	</dict>
	<key>7</key>
	<dict>
		<key>fullName</key>
		<string>Shane Warne 7</string>
		<key>team</key>
		<string>Australia</string>
		<key>playerPictureResName</key>
		<string>rikcy-pointing.jpg</string>
		<key>numberOfTests</key>
		<integer>145</integer>
		<key>totalTestRuns</key>
		<integer>5000</integer>
		<key>totalTestWickets</key>
		<integer>708</integer>
		<key>numberOfODIs</key>
		<integer>194</integer>
		<key>totalODIRuns</key>
		<integer>1018</integer>
		<key>totalODIWickets</key>
		<integer>293</integer>
		<key>numberOfT20s</key>
		<integer>17</integer>
		<key>totalT20Runs</key>
		<integer>401</integer>
		<key>totalT20Wickets</key>
		<integer>0</integer>
		<key>tip1</key>
		<string></string>
	</dict>
	<key>8</key>
	<dict>
		<key>fullName</key>
		<string>Shane Warne 8</string>
		<key>team</key>
		<string>Australia</string>
		<key>playerPictureResName</key>
		<string>rikcy-pointing.jpg</string>
		<key>numberOfTests</key>
		<integer>145</integer>
		<key>totalTestRuns</key>
		<integer>6000</integer>
		<key>totalTestWickets</key>
		<integer>708</integer>
		<key>numberOfODIs</key>
		<integer>194</integer>
		<key>totalODIRuns</key>
		<integer>1018</integer>
		<key>totalODIWickets</key>
		<integer>293</integer>
		<key>numberOfT20s</key>
		<integer>17</integer>
		<key>totalT20Runs</key>
		<integer>401</integer>
		<key>totalT20Wickets</key>
		<integer>0</integer>
		<key>tip1</key>
		<string></string>
	</dict>
	<key>9</key>
	<dict>
		<key>fullName</key>
		<string>Shane Warne 9</string>
		<key>team</key>
		<string>Australia</string>
		<key>playerPictureResName</key>
		<string>rikcy-pointing.jpg</string>
		<key>numberOfTests</key>
		<integer>145</integer>
		<key>totalTestRuns</key>
		<integer>7000</integer>
		<key>totalTestWickets</key>
		<integer>708</integer>
		<key>numberOfODIs</key>
		<integer>194</integer>
		<key>totalODIRuns</key>
		<integer>1018</integer>
		<key>totalODIWickets</key>
		<integer>293</integer>
		<key>numberOfT20s</key>
		<integer>17</integer>
		<key>totalT20Runs</key>
		<integer>401</integer>
		<key>totalT20Wickets</key>
		<integer>0</integer>
		<key>tip1</key>
		<string></string>
	</dict>
	<key>10</key>
	<dict>
		<key>fullName</key>
		<string>Shane Warne 10</string>
		<key>team</key>
		<string>Australia</string>
		<key>playerPictureResName</key>
		<string>rikcy-pointing.jpg</string>
		<key>numberOfTests</key>
		<integer>145</integer>
		<key>totalTestRuns</key>
		<integer>8000</integer>
		<key>totalTestWickets</key>
		<integer>708</integer>
		<key>numberOfODIs</key>
		<integer>194</integer>
		<key>totalODIRuns</key>
		<integer>1018</integer>
		<key>totalODIWickets</key>
		<integer>293</integer>
		<key>numberOfT20s</key>
		<integer>17</integer>
		<key>totalT20Runs</key>
		<integer>401</integer>
		<key>totalT20Wickets</key>
		<integer>0</integer>
		<key>tip1</key>
		<string></string>
	</dict>
	<key>3</key>
	<dict>
		<key>fullName</key>
		<string>Shane Warne 3</string>
		<key>team</key>
		<string>Australia</string>
		<key>playerPictureResName</key>
		<string>rikcy-pointing.jpg</string>
		<key>numberOfTests</key>
		<integer>145</integer>
		<key>totalTestRuns</key>
		<integer>9000</integer>
		<key>totalTestWickets</key>
		<integer>708</integer>
		<key>numberOfODIs</key>
		<integer>194</integer>
		<key>totalODIRuns</key>
		<integer>1018</integer>
		<key>totalODIWickets</key>
		<integer>293</integer>
		<key>numberOfT20s</key>
		<integer>17</integer>
		<key>totalT20Runs</key>
		<integer>401</integer>
		<key>totalT20Wickets</key>
		<integer>0</integer>
		<key>tip1</key>
		<string></string>
	</dict>
	<key>2</key>
	<dict>
		<key>fullName</key>
		<string>Ricky Ponting 2</string>
		<key>team</key>
		<string>Australia</string>
		<key>playerPictureResName</key>
		<string>rikcy-pointing.jpg</string>
		<key>numberOfTests</key>
		<integer>168</integer>
		<key>totalTestRuns</key>
		<integer>10000</integer>
		<key>totalTestWickets</key>
		<integer>5</integer>
		<key>numberOfODIs</key>
		<integer>375</integer>
		<key>totalODIRuns</key>
		<integer>13704</integer>
		<key>totalODIWickets</key>
		<integer>3</integer>
		<key>numberOfT20s</key>
		<integer>17</integer>
		<key>totalT20Runs</key>
		<integer>401</integer>
		<key>totalT20Wickets</key>
		<integer>0</integer>
		<key>tip1</key>
		<string></string>
	</dict>
	<key>1</key>
	<dict>
		<key>fullName</key>
		<string>Mominul Haque 1</string>
		<key>playerPictureResName</key>
		<string>MahimulHaq.jpg</string>
		<key>team</key>
		<string>Bangladesh</string>
		<key>numberOfTests</key>
		<integer>3</integer>
		<key>totalTestWickets</key>
		<integer>0</integer>
		<key>totalTestRuns</key>
		<integer>11000</integer>
		<key>numberOfODIs</key>
		<integer>9</integer>
		<key>totalODIRuns</key>
		<integer>142</integer>
		<key>totalODIWickets</key>
		<integer>2</integer>
		<key>numberOfT20s</key>
		<integer>3</integer>
		<key>totalT20Runs</key>
		<integer>35</integer>
		<key>totalT20Wickets</key>
		<integer>0</integer>
		<key>tip1</key>
		<string></string>
	</dict>
</dict>
</plist>
